div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.sideWrapper {
    float: right;
    width: 240px;
    margin-top: 8px;
}

.side{
	margin: 8px;
    padding: 8px;
    background-color: #DFFFDF;
    font-size: 75%;
    border: 1px solid #D1EFD1;
}

.side h2 {
    background-color: #DFFFDF;
    margin: -8px -8px -4px;
    padding: 8px;
    height: 24px;
}

.side ul {
    line-height: 180%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #796864;
}
